.btn_wrapper {
  .btn {
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .red {
    background: #ff1c1c;
  }
  .blue {
    background: #3884d4;
  }
}
